# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
/.pnp
.pnp.js

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.dev.local
.env.staging.local
.env.production.local

# vercel
.vercel

node_modules

## Hardhat files ##
*.txt
cache
artifacts
deployments
.openzeppelin
src/artifacts/
src/addresses-localhost.json
src/addresses-hardhat.json
coverage.json


## Firebase credentials
rewilder-*-firebase.json

## Frontend Files ##
# testing
coverage

# next.js
.next/
out/
# production
build
# contracts
# artifacts/*
