rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      // All data is public
      allow read : if true;
      // No writes allowed
      allow write: if false;
    }
  }
}